/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */
body {
   background-color: grey;
}

p {color: red;
   line-height: 2cm;
  }

h2 {color: green;
    line-height: 1.5cm;
   }

h1, h2 {font-family: cursive;
       }

.intro {color: purple;
       }

#summit {font-size: 20;
        }
   
